{% extends "base.html" %}
{% block title %}About the technologies used to build the project{% endblock %}
{% block content %}
  <div class="row">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h4">
                About the author
              </div>
            </li>
            <li class="list-group-item">
            <p>Hello! My name is Mitya and i've created this site for the <a href="https://praktikum.yandex.ru/">
                                <b>Яндекс</b>Практикум</a> python developper course.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
        </div>
      </div>
    </div>
  </div>
{% endblock %}