{% extends "base.html" %}
{% block title %}About the technologies used to build the project{% endblock %}
{% block content %}
  <div class="row">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h4">

                Tools used used to build <a><span style="color:red">Ya</span>tube</a>
            </li>
            <li class="list-group-item">

                The framework used for building the site - <strong>Django version 2.2.6 </strong> <br>
                The backend of the website is written in <strong> Python 3.8.5</strong><br>
                For the frontend basic <strong>html</strong> and <strong>css</strong> were used<br>
                Database system used - <strong>PostgreSQL</strong><br>
                The project was tested with <strong>Django Unittest</strong><br>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


      </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}