<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <div class="h2">
            {{ author.get_full_name }}
          </div>
          <div class="h3 text-muted">
            @{{ author.username }}
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">
              Followers: {{ author.following.count }} <br>
              Following: {{ author.follower.count }}
            </div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">
              Posts: {{ posts_count }}
            </div>
          </li>
                {% if author != request.user %}
                <li class="list-group-item">
                    {% if following %}
                    <a class="btn btn-outline-secondary btn-sm"
                            href="{% url 'profile_unfollow' author.username %}" role="button">Unfollow
                    </a>
                    {% else %}
                    <a class="btn btn-secondary btn-sm"
                            href="{% url 'profile_follow' author.username %}" role="button">Follow
                    </a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
      </div>
    </div>